{% import 'macros.html' as macro%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{title}} </title>
</head>
<body>
    <h3>General news</h3>

    <ul>
        {{ macro.displaySources(general) }}
    </ul>

    <h3>Sports news</h3>

    <ul>
        {{ macro.displaySources(sports) }}
    </ul>

    <h3>Business news</h3>

    <ul>
        {{ macro.displaySources(business) }}
    </ul>
</body>
</html>